<dict>
    <key>subblocks</key>
    <dict>
        <key>task</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>runtype</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>units</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>length</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>angle</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>time</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>print</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>timers</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>magic</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>nogradssinglepoint</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>
        
        <key>geometry</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>optim</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>converge</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>step</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>iterations</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>optimizelattice</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>method</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>cgtype</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>swartiter</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>maxgdiisvectors</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>initialhessian</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>
        
        <key>log</key>
        <dict>
            <key>type</key>
            <string>singleline</string>
        </dict>
       
        <key>system</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>atoms</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>
                
                <key>charge</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>

                <key>fractionalcoords</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>

                <key>lattice</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>

                <key>latticestrain</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                       <key>eps1</key>
                       <dict>
                         <key>type</key>
                         <string>singleline</string>
                       </dict>
                       <key>eps2</key>
                       <dict>
                         <key>type</key>
                         <string>singleline</string>
                       </dict>
                       <key>eps3</key>
                       <dict>
                         <key>type</key>
                         <string>singleline</string>
                       </dict>
                       <key>eps4</key>
                       <dict>
                         <key>type</key>
                         <string>singleline</string>
                       </dict>
                       <key>eps5</key>
                       <dict>
                         <key>type</key>
                         <string>singleline</string>
                       </dict>
                       <key>eps6</key>
                       <dict>
                         <key>type</key>
                         <string>singleline</string>
                       </dict>
                    </dict>
                </dict>

            </dict>
        </dict>

        <key>dftb</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>resourcesdir</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>radialextrapolation</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>scc</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                        <key>arh</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>thirdorder</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>hxdamping</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>iterations</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>ndiis</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>converge</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>mixing</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>initialcharges</key>
                        <dict>
                            <key>type</key>
                            <string>multiline</string>
                            <key>subblocks</key>
                            <dict>
                            </dict>
                        </dict>
                        <key>verbose</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                    </dict>
                </dict>
                <key>usesymmetry</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>repulsion</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                        <key>forcepolynomial</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                    </dict>
                </dict>
                <key>dispersion</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                        <key>enable</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>method</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>d3parameters</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>

                    </dict>
                </dict>
                <key>occupation</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>purify</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                        <key>iterations</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>dropthreshold</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>no_folding</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>tolerance</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>lanczos_iterations</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                    </dict>
                </dict>
                <key>sparsitythreshold</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>blocksize</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>unpairedelectrons</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>restart</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>restartfile</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>restartmulliken</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>restartorbitals</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>restartgeometry</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>


        <key>periodic</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>cellrepetitions</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>kspace</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>kspacegrid</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>calclattgrad</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>nstar</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>latticestepsize</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>funrange</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>bzstruct</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>phonon</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
               <key>bzpath</key>
               <dict>
                   <key>type</key>
                   <string>multiline</string>
                   <key>subblocks</key>
                   <dict>
                       <key>path</key>
                       <dict>
                           <key>type</key>
                           <string>multiline</string>
                           <key>subblocks</key>
                           <dict>
                           </dict>
                       </dict>
                       <key>kmesh</key>
                       <dict>
                           <key>type</key>
                           <string>singleline</string>
                       </dict>
                   </dict>
               </dict>

                <key>supercell</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>

                <key>stresstensor</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>

               <key>screening</key>
               <dict>
                   <key>type</key>
                   <string>multiline</string>
                   <key>subblocks</key>
                   <dict>
                       <key>rmadel</key>
                       <dict>
                           <key>type</key>
                           <string>singleline</string>
                       </dict>
                       <key>dmadel</key>
                       <dict>
                           <key>type</key>
                           <string>singleline</string>
                       </dict>
                       <key>directionalscreening</key>
                       <dict>
                           <key>type</key>
                           <string>singleline</string>
                       </dict>
                   </dict>
               </dict>
            </dict>
        </dict>

        <key>md</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>steps</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>timestep</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>restart</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>initialvelocities</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>inlinevelocities</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>
                <key>thermostat</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>checkpoint</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>trajectory</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>preserve</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>constraints</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>dist</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>coord</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>atom</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>angle</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>dihed</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>block</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>tsrc</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>dist</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>coord</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>atom</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>angle</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>dihed</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>properties</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>excitations</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                        <key>singleorbtrans</key>
                        <dict>
                            <key>type</key>
                            <string>multiline</string>
                            <key>subblocks</key>
                            <dict>
                                <key>filter</key>
                                <dict>
                                    <key>type</key>
                                    <string>multiline</string>
                                    <key>subblocks</key>
                                    <dict>
                                        <key>demin</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>demax</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>osmin</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>primrange</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>minpertcont</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>usepertcorr</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                    </dict>
                                </dict>
                                <key>printlowest</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                            </dict>
                        </dict>
                        <key>tddftb</key>
                        <dict>
                            <key>type</key>
                            <string>multiline</string>
                            <key>subblocks</key>
                            <dict>
                                <key>calc</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                                <key>lowest</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                                <key>upto</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                                <key>diagonalization</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                                <key>davidsonconfig</key>
                                <dict>
                                    <key>type</key>
                                    <string>multiline</string>
                                    <key>subblocks</key>
                                    <dict>
                                        <key>atcharges</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>tolerance</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                        <key>safetymargin</key>
                                        <dict>
                                            <key>type</key>
                                            <string>singleline</string>
                                        </dict>
                                    </dict>
                                </dict>
                                <key>print</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                                <key>issubsystem</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                            </dict>
                        </dict>
                        <key>tddftbgradients</key>
                        <dict>
                            <key>type</key>
                            <string>multiline</string>
                            <key>subblocks</key>
                            <dict>
                                <key>excitation</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                                <key>eigenfollow</key>
                                <dict>
                                    <key>type</key>
                                    <string>singleline</string>
                                </dict>
                            </dict>
                        </dict>
                    </dict>
                </dict>
                <key> subexcit</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                        <key>fragments</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>calc</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                        <key>lowest</key>
                        <dict>
                           <key>type</key>
                           <string>singleline</string>
                        </dict>
                        <key>solvent</key>
                        <dict>
                            <key>type</key>
                            <string>singleline</string>
                        </dict>
                    </dict>
                </dict>
            </dict>
        </dict>
    </dict>
</dict>

