<dict>
    <key>subblocks</key>
    <dict>
        <key>constraints</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>dist</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>coord</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>atom</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>angle</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>dihed</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>block</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>
        <key>tsrc</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>dist</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>coord</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>atom</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>angle</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>dihed</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>
    </dict>
</dict>
