<dict>
    <key>subblocks</key>
    <dict>
        <key>task</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>runtype</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>uff</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>database</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>elementsfile</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>atomtypesfile</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>

        <key>units</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>length</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>time</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>
        
        <key>geometry</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>optim</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>converge</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>step</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
                <key>iterations</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>
            </dict>
        </dict>
        
        <key>log</key>
        <dict>
            <key>type</key>
            <string>singleline</string>
        </dict>
       
        <key>system</key>
        <dict>
            <key>type</key>
            <string>multiline</string>
            <key>subblocks</key>
            <dict>
                <key>atoms</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>
                
                <key>bonds</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>

                <key>lattice</key>
                <dict>
                    <key>type</key>
                    <string>multiline</string>
                    <key>subblocks</key>
                    <dict>
                    </dict>
                </dict>
            
                <key>fractionalcoords</key>
                <dict>
                    <key>type</key>
                    <string>singleline</string>
                </dict>

            </dict>
        </dict>
        
    </dict>
</dict>
